<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" href="../static/css/style.css"/>
    <title>Let's Party!</title>
</head>
<body>
<div th:replace="fragments/header :: header">Header</div>


<div class="row1">
    <div class="row1content" th:if="${party}" th:object="${party}">


        <h2 th:text="*{name}">partydetails</h2>

        <h3>
            <span th:text="*{#dates.format(date, 'dd/MM/yyyy')}">date</span>
            in
            <a th:href="@{|/venuedetails/*{venue.id}|}" th:text="*{venue.venueName}"
               class="linkLook">venue</a>
        </h3>

        <form th:action="@{|/admin/partyedit/*{id}|}" method="post">

            <div class="venueinfo">
                <div class="infoLine">
                    <label for="partyName" class="infoLineName">name: </label>
                    <input id="partyName" th:field="*{name}" class="infoLineValue">
                </div>
                <div class="infoLine">
                    <label for="venue" class="infoLineName">venue: </label>
                    <select id="venue" th:name="venueId" class="infoLineValue">
                        <option th:each="v:${venues}" th:value="${v.id}"
                                th:text="${v.venueName}" th:selected="${v.id==party.venue.id}">
                            one venue
                        </option>
                    </select>
                </div>
                <div class="infoLine">
                    <label for="date" class="infoLineName">date <i>(dd/mm/yyyy)</i>: </label>
                    <input id="date" th:field="*{date}" class="infoLineValue">
                </div>
                <div class="infoLine" th:unless="*{pricePresaleInEur!=null || priceInEur!=null}">
                    Free Party!
                </div>
                <div class="infoLine">
                    <label for="pricePresaleInEur" class="infoLineName">price (presale): </label>
                    <input id="pricePresaleInEur" th:field="*{pricePresaleInEur}" class="infoLineValue">
                    &nbsp;&euro;
                </div>
                <div class="infoLine">
                    <label for="priceInEur" class="infoLineName">price: </label>
                    <input id="priceInEur" th:field="*{priceInEur}" class="infoLineValue">
                    &nbsp;&euro;
                </div>
                <div class="infoLine">
                    <label for="extraInfo" class="infoLineName">extra info: </label>
                    <input id="extraInfo" th:field="*{extraInfo}" class="infoLineValue">
                </div>
                <div class="infoLine">
                    <label for="doors" class="infoLineName">doors <i>(HH:mm)</i>: </label>
                    <input id="doors" th:field="*{doors}" class="infoLineValue">
                </div>

                <div class="infoLine">
                    <div class="infoLineName">where:</div>
                    <div class="infoLineValue"
                         th:text="|*{venue.city} (*{venue.distanceFromPublicTransportInKm} km from public transport)|">
                        city and distance
                    </div>
                </div>
                <div class="infoLine" th:if="*{pricePresaleInEur!=null || priceInEur!=null}">
                    <div class="infoLineName">price:</div>
                    <!--suppress SyntaxError -->
                    <div class="infoLineValue"
                         th:text="|*{pricePresaleInEur}${'&euro;'} (presale) / *{priceInEur}${'&euro;'}|">
                        pricePresaleInEur and price
                    </div>
                </div>
                <div class="infoLine" th:if="*{!extraInfo.isBlank()}">
                    <div class="infoLineName">extraInfo</div>
                    <div class="infoLineValue" th:text="*{extraInfo}">extraInfo</div>
                </div>
                <div class="infoLine">
                    <a th:href="@{|/partydetails/*{id}|}" class="buttonLook editButton">cancel</a>
                    <input type="submit" value="save" class="buttonLook editButton">
                </div>
            </div>
        </form>
    </div>
    <div class="row1content" th:unless="${party}">
        <p>no party was chosen</p>
    </div>
</div>


<div th:replace="fragments/footer :: footer">Footer</div>

</body>
</html>