
* {
    margin: 0;
    box-sizing: border-box;
}

/* generale style elementen */

body {

    font-family: Bahnschrift, sans-serif;
    margin: 0;
}


h1 {
    margin: 20px 0;
    text-align: center;
    font-size: 4em;
}

h2 {
    margin: 0 0 10px 0;
    font-size: 2em;
}

p {
    padding: 10px 50px;
}

hr {
    border-color: #EDC7CF;
    width: 70%;
    margin: 5px auto;
}

a {
    text-decoration: none;
}


/* layout da gedeeld wordt */
.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: lightskyblue;
    color: whitesmoke;
    height: 150px;
}
.navbuttons {
    display: flex;
}

.bottom {
    background-color: cornflowerblue;
    color: whitesmoke;
    height: 30px;
    font-size: 0.7em;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.bottom p {
    text-align: center;
}

.row1 {
    display: flex;
    position: relative;
    margin: 150px 0 20px 0;
}
.row1 img {
    width: 100%;
    height: auto;
}

.row1content {
    flex-grow: 4;
    margin: 0 50px 40px 50px;
}

/* links that do or don't look like buttons */
a.buttonLook {
    display: block;
    background-color: cornflowerblue;
    color: whitesmoke;
    text-decoration: underline;
    text-align: center;
    box-shadow: 1px 1px 1px darkgrey;
}

a.buttonLook:hover {
    background-color: darkblue;
    color: whitesmoke;
    border: solid 1px whitesmoke;
}

a.buttonLook:active {
    background-color: cornflowerblue;
    color: whitesmoke;
}

a.largeButton {
    width: 200px;
    font-size: 2em;
    padding: 1em;
}

a.mediumButton {
    margin: 10px auto;
    width: 400px;
    font-size: 1.2em;
    padding: 1em;
}
a.smallButton {
    font-size: 1em;
    padding: 0.5em;
}
a.menuButton {
    margin: 0 10px;
    width: 6em;
    padding: 0.2em;
}

a.linkLook {
    background-color: transparent;
    color: #6A8E7F;
}

a.linkLook:hover {
    background-color: transparent;
    color: #989572;
}


/* venue page only */
.venueinfo {
    margin: 50px 0;
}

.infoLine {
    margin: 15px 0;
    font-size: 1em;
    display: flex;
}
.infoLineName {
    width: 13em;
}
.infoLineValue {
    font-size: 1.2em;
    text-align: left;
}

.prevButtonDiv {
    position: absolute;
    left: 10px;
}
.nextButtonDiv {
    position: absolute;
    right: 10px;
}
/* home page only */

.row2 {
    background-color: #989572;
    color: #EDC7CF;
    height: 400px;
    padding: 60px 0;
}

.row3 {
    background-color: #C6AE82;
    height: 300px;
    padding: 60px 0;
    text-align: center;
}


