<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" href="../static/css/style.css"/>
    <title>Let's Party!</title>
</head>
<body>
<div th:replace="fragments/header :: header">Header</div>


<h1>hoi</h1>
<p th:text="|tijd en datum op het moment zijn${dateNow}|">date</p>
<p th:text="|De uiterste datum van betalen is ${dateLastPay}|">last pay day</p>
<p th:if="${isWeekend}" th:text="|ik wens je nog een goede weekend!|"></p>
<p th:if="${isWeekend} == false" th:text="|altijd onthouden bijna weekend!|"></p>
</body>

</body>
</html>