<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Euphoria+Script&family=Lato:wght@100;400&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/CSS/style.css}" href="/CSS/style.css" />


    <title>Title</title>
</head>
<body>
<header th:replace="fragments/header :: header"></header>
<main>
    <legend><h1>Error</h1></legend>
        <p>OEPS er is een fout opgetreden!</p>

</main>

<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>